name: Release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Inject version into composer.json
        run: |
          jq --arg v "${{ github.ref_name }}" '.version = $v' composer.json > composer.tmp.json
          mv composer.tmp.json composer.json

      - name: Zip Source
        run: zip -r shopware-productflow-integration-${{ github.ref_name }}.zip . -x@.release-ignore

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          append_body: false
          files: |
            shopware-productflow-integration-${{ github.ref_name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}